h1
{
  color: red;
}

body
{
  background-color: black;
}

h2
{
  color: red;
}

#carte
{

    width: 800px;
    margin:0 auto;
    background-color: white;
    text-align: center;
    align-content: center;
}